@import "variable";
@import "bootstrap";
@import "mixin";
@import "../fa/fontawesome";
@import "../fa/solid";

html {
  overflow-y: scroll;
}

// Adjust .container width
.container {
  $size: sm md lg;
  $screen-size-min: $screen-sm-min $screen-md-min $screen-lg-min;
  $container-size: $container-sm $container-md $container-lg;
  @for $i from 1 through length($size) {
    @media (min-width: nth($screen-size-min, $i)) {
      width: nth($container-size, $i) - $navbar-sidebar-width - $navbar-padding-horizontal;
    }
  }

  @media (min-width: ($screen-lg-min + $navbar-sidebar-width)) {
    width: $container-lg;
  }
}

.pagination-wrapper { text-align: center; }

.pagination {
  margin: 8px 0;

  a {
    user-select: none;
    cursor: pointer;
  }
}


.table {
  > thead > tr > th, > tbody > tr > td {
    font-weight: 300;
    padding: 12px;
  }

  > thead > tr > th {
    text-transform: capitalize;
    border-bottom: 1px;
    font-weight: 500;
  }
}

.navbar {
  margin-bottom: 5px;
}
