@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "_bootstrap.scss";
@import "_variable";

@mixin navbar-sidebar() {
@media (min-width: $screen-sm-min) {
  width: $navbar-sidebar-width;
  height: 100vh;
  border-radius: 0;

  .container,
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }

  .navbar-header {
    float: none;
    padding-left: $navbar-padding-horizontal;
    padding-right: $navbar-padding-horizontal;
  }

  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: none;

    .navbar-nav {
      float: none !important;

      > li {
        width: 100%;

        &.dropdown {
          .dropdown-menu {
            top: 0;
          }
        }

      }

      &.navbar-right {
        margin-right: 0;
      }

    }

  }

}
}

// Adjust .container width
.container {
  $size: sm md lg;
  $screen-size-min: $screen-sm-min $screen-md-min $screen-lg-min;
  $container-size: $container-sm $container-md $container-lg;
  @for $i from 1 through length($size) {
    @media (min-width: nth($screen-size-min, $i)) {
      width: nth($container-size, $i) - $navbar-sidebar-width - $navbar-padding-horizontal;
    }
  }

  @media (min-width: ($screen-lg-min + $navbar-sidebar-width)) {
    width: $container-lg;
  }
}

.jumbotron {
  h2 {
    margin-top: 0;
  }
}