@import "~bootswatch/yeti/variables";

$border-radius-base:        5px;
$border-radius-large:       5px;
$border-radius-small:       5px;

$navbar-sidebar-width: 232px;

$spacing-lg: 20px;
$spacing-md: 12px;
$spacing-sm: 8px;
$spacing-xs: 5px;

$fa-font-path: "../webfonts";

$text-error: #a94442;
$background-error: #f2dede;
$border-error: #ebccd1;